test.png
.DS_Store

__pycache__
neural_nets/audio_output/neural_net2_audio/*
.gitignore


neural_nets/saved_models_h5/*
neural_nets/output_midi/NeuralNet1_output.mid
neural_nets/saved_models_h5/neural_net1.h5

graphic_score--Generic.png
.gitignore
concert_files/*
env/*